<div class="service-block service-advantages">
  <div class="container">
    <div class="service-advantages-box">
      <div class="service-advantages-content">
        <h2 id="advantages" class="service-block-title service-advantages-title">
          Преимущества товаров Cindy Cat премиум-класса
        </h2>
        <div class="service-advantages-list">
          <div class="service-advantages-item service-advantages-item--1">
            <div class="service-advantages-item--content">
              <h3 class="service-advantages-item--title">
                Заметная упаковка
              </h3>
              <p>
                Стильное оформление выгодно выделяется на фоне остальных товаров для животных
              </p>
            </div>
          </div>
          <div class="service-advantages-item service-advantages-item--2">
            <div class="service-advantages-item--content">
              <h3 class="service-advantages-item--title">
                Безопасный продукт
              </h3>
              <p>
                Вся продукция CINDY CAT изготовлена из безопасных для человека и животных материалов, не требующих особой утилизации
              </p>
            </div>
          </div>
          <div class="service-advantages-item service-advantages-item--3">
            <div class="service-advantages-item--content">
              <h3 class="service-advantages-item--title">
                Глина, добываемая в Республике Армения
              </h3>
              <p>
                Позволяет наполнителю впитывать жидкость до 5 раз больше своего объема.
              </p>
              <p>
                Не рассыпается, образует более плотные комочки по сравнению с отечественной глиной
              </p>
            </div>
          </div>
          <div class="service-advantages-item service-advantages-item--4">
            <div class="service-advantages-item--content">
              <h3 class="service-advantages-item--title">
                Чистота в доме
              </h3>
              <p>
                Наполнители CINDY CAT полностью устраняют неприятные запахи
              </p>
            </div>
          </div>
          <div class="service-advantages-item service-advantages-item--5">
            <div class="service-advantages-item--content">
              <h3 class="service-advantages-item--title">
                Сотрудничаем с питомниками
              </h3>
              <p>
                Качество и эффективность нашей продукции оценили более 170 питомников России
              </p>
            </div>
          </div>
        </div>
		  <div class="stm">
<h2 class="service-block-title service-advantages-title">Собственная торговая марка</h2>
<div class="container">
<div class="stm-content">
<div class="row">
<div class="col-md-12">
<p class="big"><img alt="Ваш бренд" data-entity-type="file" data-entity-uuid="b4e36866-84d7-48c1-b325-8d8eecc13119" src="/sites/default/files/inline-images/viayzgioemg.jpg" /></p>

<p>Предлагаем сырье для реализации под вашей торговой маркой. Производим СТМ более 10 компаниям.</p>

<p>Заказывайте качественное сырьё от производителя. Регулярные поставки на индивидуальных условиях сотрудничества.</p>
</div>
</div>
</div>

<div class="stm-bottom">
<h3>Продавайте под собственным брендом!</h3>
</div>
</div>
</div>
		
      </div>
    </div>
  </div>

</div>
